# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
terraform.tfstate.backup
.terraform.lock.hcl

# Remix / Node.js
node_modules/
build/
dist/
.env

# Git
.DS_Store
*.log

# Ignore submodule (wrongly added repo)
#remix-weather-final/remix-weather-final
